
.inventory-details{
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 14px 3px gainsboro;
    margin-top: 25px;
    padding: 18px;
}
.inventory-details img{
    width: 10%;
    border: 1px solid gainsboro;
    margin-right: 15px;
}
.inventory-details .details{
    width: 45%;
    padding: 10px;
}   
.inventory-details h5{
    width: 20%;
}
.inventory-details button{
    margin-left: 25px;
    padding: 8px 25px;
    cursor: pointer;
    background-color: #ff0000;
    border: 1px solid gainsboro;
    border-radius: 3px;
    color: #fff;
}
.inventory-details button:hover{
    background-color: #fff;
    color: #ff0000;
}
@media screen and (max-width: 687px) {
    .inventory-details .details{
        display: none;
    } 
    .inventory-details h5{
        font-size: 14px;
    }
}
@media only screen and (min-width:688px) and (max-width:992px) {
    .inventory-details .details{
        display: none;
    } 
    .inventory-details h5{
        font-size: 15px;
    }
}