.inventory-container{
    margin: 10px 0 10px 0;
}
.inventory-product{
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 14px 3px gainsboro;
    padding: 18px;
}
.inventory-product img{
    width: 10%;
    border: 1px solid gainsboro;
    margin-right: 15px;
}
.inventory-product p{
    width: 45%;
    padding: 10px;
}
.inventory-product h4{
    width: 15%;
    font-size: 16px;
}
.inventory-count h5{
    margin: 0;
    font-size: 16px;
}
.update-field{
    width: 20%;
    margin: auto;
    padding: 35px 0 35px 0;
}
.update-field input{
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid gainsboro;
    background-color: #fff;
}
.update-field .submit-btn{
    width: 112%;
    cursor: pointer;
}
.update-field label{
    font-size: 18px;
    font-weight: 600;
}
.delivered-btn{
    width: 10%;
    padding: 15px;
    margin-left: 25px;
    border: 1px solid #dcdcdc;
    background-color: #009800;
    color: #fff;
    cursor: pointer;
}
.delivered-btn:hover{
    border: 1px solid #009800;
    background-color: #ffffff;
    color: #009800;
}
.edit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #66cbf3;
    text-decoration: none;
    width: 10%;
    padding: 15px;
    margin-left: 25px;
}
.edit-btn:hover{
    background-color: #66cbf3;
    color: black;
}

@media screen and (max-width: 687px) {
    .inventory-product{
        display: flex;
        flex-direction: column;
    }
    .delivered-btn{
        width: 30%;
    }
    .inventory-product img{
        width: 20%;
        border: 1px solid gainsboro;
        margin-right: 15px;
    }
    .inventory-product p{
        width: 100%;
        padding: 10px;
    }
    .inventory-product h4{
        width: 100%;
        font-size: 16px;
        text-align: center;
    }
    .inventory-count h5{
        margin: 10px;
        font-size: 16px;
    }
    .edit-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border: 1px solid #66cbf3;
        text-decoration: none;
        width: 30%;
        padding: 15px;
        margin-top: 25px;
    }
}

