.addproduct-button{
    display: flex;
    justify-content: center;
}
.add-product-btn{
    width: 25%;
    background-color: #F57224;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 15px 25px;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
}
.add-product-btn:hover{
    background-color: #fff;
    color: #F57224;
    border: 1px solid #F57224;
}
.manage-title{
    text-align: center;
    margin: 15px;
}

@media screen and (max-width: 687px) {
    .add-product-btn{
        width: 30%;
        font-size: 16px;
        
    }
}