
.product-details img{
    margin-left: 30%;
    width: 150px;
}
.product-container{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    
}
.product-details p{
    text-align: center;
}
.product-details span{
    font-weight: 600;
}
.product-details{
    box-shadow: 0 5px 10px rgb(213, 213, 213);
    padding: 10px;
}
.product-details button{
    width: 100%;
    background-color: #fff;
    border: 1px solid #F57224;
    color: #F57224;
    padding: 13px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.product-details button:hover{
    background-color: #F57224;
    color: #fff;
}

@media screen and (max-width: 687px ) {
    .product-container{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        
    }
}
@media only screen and (min-width:688px) and (max-width:992px){
    .product-container{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        
    }
}