.navbar{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navwithlogo{
    display: flex;
    width: 95%;
    margin: auto;
}

.navbar a{
    text-decoration: none;
    color: #000;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 400;
}
.logo img{
    width: 20%;
    margin-left: 25%;
}

.header-top-text{
    /* display: flex; */
    text-align: center;
    background-color: #F49694;
    color: #1f1f1f;
    padding: 18px 0 8px 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
