.login-text{
    text-align: center;
}
.login-form {
    width: 30%;
    margin: auto;
    font-size: 18px;
    font-weight: 500;
}
.login-form input{
    width: 100%;
    height: 35px;
    font-size: 16px;
    padding-left: 15px;
    border: 1px solid gainsboro;
}
.login-form .login-submit-btn{
    margin: 10px;
    height: 40px;
    font-size: 18px;
    border: none;
    background-color: #F57224;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}
.forget-newLink{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.forget-newLink button{
    border: none;
    background-color: #fff;
    color: #F57224;
    font-size: 16px;
}
.forget-newLink a{
    text-decoration: none;
    color: #F57224;
    padding-left: 10px;
}
.login-container h5{
    text-align: center;
    margin: 10px;
}
.login-form .error-text{
    color: red;
}
.login-form .loading-message{
    color: #063E94;
}
.login-form .forget-link{
    cursor: pointer;
}
